* {
  padding: 0;
  box-sizing: border-box;
  margin: 0%;

}

.form1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  border-width: 100px;
  border-radius: 10px;


}

form {
  border: 100px;
  margin-left: 70px;
  width: 50%;
  margin-bottom: 20px;
  margin-top: 0px;
  padding: 50px;
  font-size: 16px;
  border-radius: 10px;
}

.button {
  padding: 10px;
  font-size: 10px;
  border-style: 10px;
  color: black;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.boxmodel1 {
  border: 50px;
  width: 50%;
  margin-bottom: 20px;
  margin-top: 20px;

  font-size: 16px;
  display: flex;
  border-radius: 10px;
  background-color: white;
  border: solid;



}

.boxmodel {
  background-color: rgb(92, 218, 92);
  padding: 10px 20px;

}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-top: 150px;
  margin-bottom: 100px;
  margin-right: 200px;

}

.sign {
  border-radius: 10px;
  font-size: 10px;
  padding: 7px;
}

.forgot {
  font-size: 10px;
  color: rgb(6, 6, 6);
  text-decoration: none;
  display: flex;
}

.abhi {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;


}

.form2 {
  width: 50%
}

.form1 input {
  padding: 10px
}
.abhi2{
  display: flex;
  justify-content: center;
}